<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  TeX: { equationNumbers: { autoNumber: "AMS" } },
  "HTML-CSS": { extensions: ["handle-floats.js"] },
  jax: ["input/TeX","output/HTML-CSS"],
   displayAlign: "left"
});
</script>


<script type="text/javascript" id="MathJax-script" async
  src="https://cdn.jsdelivr.net/npm/mathjax@3.0.0/es5/tex-chtml.js">
</script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



<style>


.button {
  background-color: #000000; /* Green */
  border-radius: 2pt;
  border: none;
  color: white;
  padding: 5px 9px;
  text-decoration: none;
  display: inline-block;
  font-size: 6px;
  margin: 2px 3px;
  cursor: pointer;
}

.palette {
    width: 100px;
}

.palette-keys {
  display: grid;
  grid-template-columns: repeat(26, 1fr);
}

.algebra {background-color: powderblue;}
.numbers {background-color: cornflowerblue;}
.geometry {background-color: pink;}
.trigonometry {background-color: silver;}
.probability {background-color: mediumslateblue;}
.calculus {background-color: yellowgreen;}
.complex {background-color: darkcyan;}
.combinatorics {background-color: palegoldenrod;}




.blank {background-color: whitesmoke;} /* Black */
.white {background-color: white;} /* Black */


#palette1 {display: block;}

@media screen and (max-width: 768px) {
    #palette1 {display: none;}
}



</style>



<style>


.markbutton {
  background-color: #f0ffff;
  border-radius: 2pt;
  border: none;
  color: black;
  padding: 3px 3px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 3px 3px;
  cursor: pointer;
}

.markpalette {
    width: 100px;
}

.markpalette-keys {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
}

.rank {background-color:white; color: grey;}
.right {background-color: lightyellow;}
.total {background-color: lavender;}
.wrong {background-color: lavenderblush;}
.blank {background-color: whitesmoke;}
.white {background-color: white;  text-align: left; }




#markpalette1 {display: block;}

@media screen and (max-width: 768px) {
    #markpalette1 {display: none;}
}


</style>







