<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  TeX: { equationNumbers: { autoNumber: "AMS" } },
  "HTML-CSS": { extensions: ["handle-floats.js"] },
  jax: ["input/TeX","output/HTML-CSS"],
   displayAlign: "left"
});
</script>


<script type="text/javascript" id="MathJax-script" async
  src="https://cdn.jsdelivr.net/npm/mathjax@3.0.0/es5/tex-chtml.js">
</script>


<script type="text/javascript">
function display (selected) {
  if (selected == 'A01_2010') { texttoshow = "<img src=\"\/assets/images/pics/A01_2010.png\" />"; }
  if (selected == 'A02_2010') { texttoshow = "<img src=\"\/assets/images/pics/A02_2010.png\" />"; }
  if (selected == 'A03_2010') { texttoshow = "<img src=\"\/assets/images/pics/A03_2010.png\" />"; }
  if (selected == 'A04_2010') { texttoshow = "<img src=\"\/assets/images/pics/A04_2010.png\" />"; }
  if (selected == 'A05_2010') { texttoshow = "<img src=\"\/assets/images/pics/A05_2010.png\" />"; }
  if (selected == 'A06_2010') { texttoshow = "<img src=\"\/assets/images/pics/A06_2010.png\" />"; }
  if (selected == 'A07_2010') { texttoshow = "<img src=\"\/assets/images/pics/A07_2010.png\" />"; }
  if (selected == 'A08_2010') { texttoshow = "<img src=\"\/assets/images/pics/A08_2010.png\" />"; }
  if (selected == 'A09_2010') { texttoshow = "<img src=\"\/assets/images/pics/A09_2010.png\" />"; }
  if (selected == 'A10_2010') { texttoshow = "<img src=\"\/assets/images/pics/A10_2010.png\" />"; }
  if (selected == 'A11_2010') { texttoshow = "<img src=\"\/assets/images/pics/A11_2010.png\" />"; }
  if (selected == 'A12_2010') { texttoshow = "<img src=\"\/assets/images/pics/A12_2010.png\" />"; }
  if (selected == 'A13_2010') { texttoshow = "<img src=\"\/assets/images/pics/A13_2010.png\" />"; }

  if (selected == 'B1_2010') { texttoshow = "<img src=\"\/assets/images/pics/B1_2010.png\" /></a>"; }
  if (selected == 'B2_2010') { texttoshow = "<img src=\"\/assets/images/pics/B2_2010.png\" /></a>"; }
  if (selected == 'B3_2010') { texttoshow = "<img src=\"\/assets/images/pics/B3_2010.png\" /></a>"; }
  if (selected == 'B4_2010') { texttoshow = "<img src=\"\/assets/images/pics/B4_2010.png\" /></a>"; }
  if (selected == 'B5_2010') { texttoshow = "<img src=\"\/assets/images/pics/B5_2010.png\" /></a>"; }
  if (selected == 'B6_2010') { texttoshow = "<img src=\"\/assets/images/pics/B6_2010.png\" /></a>"; }
  if (selected == 'B7_2010') { texttoshow = "<img src=\"\/assets/images/pics/B7_2010.png\" /></a>"; }




  document.getElementById("thetext").innerHTML = texttoshow;
  }
</script>


<style>
.button {
  background-color: #4CAF50; /* Green */
  border-radius: 2pt;
  border: none;
  color: white;
  padding: 4px 10px;
  text-decoration: none;
  display: inline-block;
  font-size: 6px;
  margin: 2px 2px;
  cursor: pointer;
}

.palette {
    width: 100px;
}

.palette-keys {
  display: grid;
  grid-template-columns: repeat(26, 1fr);
}

.button2 {background-color: #008CBA;} /* Blue */
.button3 {background-color: #f44336;} /* Red */
.button4 {background-color: #e7e7e7; color: black;} /* Gray */
.button5 {background-color: #555555;} /* Black */
</style>




